body{
    background-color:rgb(28, 43, 63);
    font-size: 24pt;
}
 nav a {
    color:antiquewhite;
   
 }
a:hover {
    
        background-color: black;
    
    
}
h1{

    color:aliceblue;
    
}
h2{
    color:beige;
}
#cidade{
    color:bisque;
}

#foot{
    color:azure;
}

