body{
    background-color:rgb(28, 43, 63);
    font-size: 24pt;
}

nav a {
    color:antiquewhite;
    border-style:double;
    border-bottom: navajowhite;
}
h1{
    color:aliceblue;
}
h2{
    color:beige;
}

