* {
    margin:0;  
    padding:0;  
    box-sizing: border-box; /* medidas sao tomadas da borda */
    font-family: sans-serif;
}

header{
    position:sticky;
    display: flex;
    justify-content: space-between;
    /*color:aliceblue;*/
    background-color:darkgoldenrod;
    align-items: center;
    /*color:white;*/
}

a {
 /*color:white;*/
 text-decoration: none;
 padding: 20px;
}

nav {
a:link{color:red}/*Link por visitar*/
a:visited{color:white} /*Link visitado*/
a:hover{color:darkred} /*Rato porcima do link */
a:active{color:black} /*Link clicado*/
}


a :last-child{
    
    background-color:blueviolet;
}

#poema{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    /*width: 100vw;*/
    background-color:burlywood;
    font-size: 1rem;
    font-weight: bold;
    
}
#paisagem{
    position:relative;
    
}
#paisagem img{

    width: 100%;
}
#autor{
    position:absolute;
    bottom:0;
   
    width:150px;
    height:50px;
    color:floralwhite;
    left:10px;
}
#cidades{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5vw;
    background-color: antiquewhite;

    /*flex-flow: row wrap ;*/
    /*justify-content: center;*/
    /*align-content: center;*/
    /*align-items: center;*/  

}
section {
    display: flex;
    margin: 10px; 
    font-family: "Times New Roman", 'Times New Roman', Times, serif;
}


#cidades img{
    width: 100px;
    border-radius: 20px 0 0 20px;
}

#cidades div{
    height: 100%;
    width: 100px;
    background-color: white; 
    border-radius: 10px;
    align-content:center;
    align-items:center;
    border-radius: 0 20px 20px 0;    
}
#cidades div:hover{
    color:brown;
}

#experimenta div{
    overflow: hidden;
    display: flex;
    border-radius: 10px ;
    background-color:cornflowerblue;
}
#experimenta div:hover {
    overflow: hidden;
}
#casa{
    color:antiquewhite
}