*{box-sizing: border-box;}
header{
    position:sticky;
    display: flex;
    justify-content: space-around;
    /*color:aliceblue;*/
    background-color:gainsboro;
    align-items: center;
    /*color:white;*/
}

section {
    padding: 10px;
    
    border: 1px solid #ddd;
}

/* Estilos para Mobile Portrait (até 480px) */
@media (max-width: 480px) {
    body {
        grid-template-columns: 1fr;
    }
    header, footer {
        font-size: 14px;
    }
    main {
        padding: 10px;
    }
}

/* Estilos para Mobile Landscape (até 768px) */
@media (max-width: 768px) {
    body {
        grid-template-columns: 1fr;
    }
    header, footer {
        font-size: 16px;
    }
    section {
        padding: 15px;
    }
}

/* Estilos para Tablet (até 1024px) */
@media (max-width: 1024px) {
    body {
        grid-template-columns: 1fr 1fr;
    }
    header, footer {
        font-size: 18px;
    }
    main {
        grid-column: span 2;
    }
    section {
        padding: 20px;
    }
}

/* Estilos para Laptop (até 1440px) */
@media (max-width: 1440px) {
    body {
        grid-template-columns: 1fr 1fr 1fr;
    }
    main {
        grid-column: span 3;
    }
    header, footer {
        font-size: 20px;
    }
    section {
        padding: 25px;
    }
}

/* Estilos para 4K (2560px ou mais) */
@media (min-width: 2560px) {
    body {
        grid-template-columns: repeat(4, 1fr);
    }
    header, footer {
        font-size: 24px;
    }
    section {
        padding: 30px;
    }
}

footer{
    position: sticky;
    display: flex;
    background-color:gainsboro;
}

#lista {
    list-style-type:none;
}

#labs{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5vw;
    background-color: white;
 }

#labs div { 
    
        display:flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 100%; 
        background-color: white;  
    } 
#labs div:hover{
    color:black;
}
