* {box-sizing: border-box;}


@media (max-width: 480px) {
    nav a {
        color: red;
    }
    .dropdown-content a {
        font-size: 2em;
    }
}

/* Estilos para Mobile Landscape (até 768px) */
@media (max-width: 768px) {
    
}

/* Estilos para Tablet (até 1024px) */
@media (max-width: 1024px) {
    
}

/* Estilos para Laptop (até 1440px) */
@media (max-width: 1440px) {
    
}

/* Estilos para 4K (2560px ou mais) */
@media (min-width: 2560px) {
    
}